exercicio01/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
exercicio01/obj/Debug/net5.0/apphost.exe
exercicio01/obj/Debug/net5.0/exercicio01.AssemblyInfo.cs
exercicio01/obj/Debug/net5.0/exercicio01.AssemblyInfoInputs.cache
exercicio01/obj/Debug/net5.0/exercicio01.assets.cache
exercicio01/obj/Debug/net5.0/exercicio01.csproj.AssemblyReference.cache
exercicio01/obj/Debug/net5.0/exercicio01.csproj.CoreCompileInputs.cache
exercicio01/obj/Debug/net5.0/exercicio01.csproj.FileListAbsolute.txt
exercicio01/obj/Debug/net5.0/exercicio01.dll
exercicio01/obj/Debug/net5.0/exercicio01.GeneratedMSBuildEditorConfig.editorconfig
exercicio01/obj/Debug/net5.0/exercicio01.genruntimeconfig.cache
exercicio01/obj/Debug/net5.0/exercicio01.pdb
exercicio01/obj/Debug/net5.0/ref/exercicio01.dll
